In [24]:
import sys
print("Python Version:", sys.version)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import formulas as fm
pd.set_option('display.max_rows', 500)
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

Python Version: 3.8.3 (default, Jul  2 2020, 11:26:31)
[Clang 10.0.0 ]

### Pulling the Data

In [25]:
# yymmdd format. Website: http://web.mta.info/developers/data/nyct/turnstile
dates = ['190803',
        '190810',
        '190817',
        '190824',
        '190831',
        '190907',
        '190914',
        '190921',
        '190928']

df_turns = fm.get_data(dates)

In [26]:
df_turns.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/27/2019,00:00:00,REGULAR,7148288,2418935
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/27/2019,04:00:00,REGULAR,7148306,2418939
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/27/2019,08:00:00,REGULAR,7148326,2418975
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/27/2019,12:00:00,REGULAR,7148441,2419042
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/27/2019,16:00:00,REGULAR,7148647,2419101

In [27]:
#Clean up the column Names
new_col_names = [name.strip() for name in df_turns.columns]
df_turns.columns = new_col_names

In [28]:
# Remove audited rows
df_turns=df_turns[df_turns.DESC!='RECOVR AUD']
# remove column
del df_turns['DESC']

### Clean up the Date Column

In [29]:
# Create a DateTime column that can be used for timeseries
df_turns = fm.Clean_Date(df_turns)

In [30]:
df_turns.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Weekday
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01 00:00:00,7148288,2418935,2019-07-27 00:00:00,Sat
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01 04:00:00,7148306,2418939,2019-07-27 04:00:00,Sat
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01 08:00:00,7148326,2418975,2019-07-27 08:00:00,Sat
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01 12:00:00,7148441,2419042,2019-07-27 12:00:00,Sat
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01 16:00:00,7148647,2419101,2019-07-27 16:00:00,Sat

In [31]:
#backup
df_backup=df_turns.copy()

In [32]:
#Sort in order of datetime
df_turns = df_turns.sort_values(by=['DATETIME']).reset_index()

In [33]:
# Caluclate Entries Aggregated at station level by DateTime
df_turns['Entry_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['ENTRIES'].transform(pd.Series.diff)['ENTRIES']

# Caluclate Exits Aggregated at station level by DateTime
df_turns['Exit_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['EXITS'].transform(pd.Series.diff)['EXITS']

In [34]:
#Absolute Value to deal with counting backward issues 
df_turns['Entry_Diff'] = abs(df_turns['Entry_Diff'])
df_turns['Exit_Diff']=abs(df_turns['Exit_Diff'])

# Calculate both
df_turns['Total_Traffic']=df_turns['Entry_Diff']+df_turns['Exit_Diff']

#### Adding weekday/weekend

In [35]:
df_turns['Day_Type'] = df_turns['Weekday'].apply(fm.daytype)
df_turns.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Weekday,Entry_Diff,Exit_Diff,Total_Traffic,Day_Type
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-07-27,1900-01-01,7148288,2418935,2019-07-27,Sat,NaN,NaN,NaN,Weekend
1,112391,N605,R024,00-05-01,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,0,1168,2019-07-27,Sat,NaN,NaN,NaN,Weekend
2,112349,N605,R024,00-05-00,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,33556743,16777216,2019-07-27,Sat,NaN,NaN,NaN,Weekend
3,198692,R612,R057,01-03-03,ATL AV-BARCLAY,BDNQR2345,IRT,2019-07-27,1900-01-01,2120496,1957954,2019-07-27,Sat,NaN,NaN,NaN,Weekend
4,112307,N605,R024,00-00-06,SUTPHIN-ARCHER,EJZ,IND,2019-07-27,1900-01-01,5050187,2146519,2019-07-27,Sat,NaN,NaN,NaN,Weekend

#### Adding Time of Day column

In [36]:
df_turns['Day_Bucket'] = df_turns['TIME'].apply(fm.convertTimeBuckets)
df_turns.sample(5)

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Weekday,Entry_Diff,Exit_Diff,Total_Traffic,Day_Type,Day_Bucket
465247,138205,R141,R031,00-00-00,34 ST-PENN STA,123,IRT,2019-08-11,1900-01-01 20:00:00,7193364,9442620,2019-08-11 20:00:00,Sun,322.0,435.0,757.0,Weekend,Evening
669536,167266,R258,R132,00-06-01,125 ST,456,IRT,2019-08-18,1900-01-01 17:00:00,7964118,7225349,2019-08-18 17:00:00,Sun,239.0,271.0,510.0,Weekend,Evening
936980,103269,N529,R257,00-00-00,EAST BROADWAY,F,IND,2019-08-27,1900-01-01 20:00:00,6369096,4985036,2019-08-27 20:00:00,Tue,570.0,607.0,1177.0,Weekday,Evening
485961,125501,PTH19,R549,02-01-03,NEWARK C,1,PTH,2019-08-12,1900-01-01 12:34:29,21659,763,2019-08-12 12:34:29,Mon,117.0,10.0,127.0,Weekday,Morning
1384087,99311,N508,R453,00-00-01,23 ST,FM,IND,2019-09-12,1900-01-01 04:00:00,675061413,522750272,2019-09-12 04:00:00,Thu,62.0,11.0,73.0,Weekday,Late Night

### Rami's Filtering

In [37]:
# def Add_Weekday(data_frame, column='Date'):
#     dmap = {0:'Mon', 1: 'Tue', 2: 'Wed', 3:'Thu', 4:'Fri', 5:'Sat', 6:'Sun'}
#     #Convert column to date
#     data_frame[column] = pd.to_datetime(data_frame[column])
#     #Add column which shows the Weekday in integer
#     data_frame['Day_Number'] = data_frame[column].apply(lambda x: x.dayofweek)
#     #Add column which shows the Weekday in words
#     data_frame['Weekday'] = data_frame['Day_Number'].map(dmap)
#     return data_frame
# df_turns_backup2 = df_turns.copy()

In [38]:
#Filter out the Null Values
df_turns.dropna(subset=["Entry_Diff","Exit_Diff",'Total_Traffic'], axis=0, inplace=True)
df_turns.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Weekday,Entry_Diff,Exit_Diff,Total_Traffic,Day_Type,Day_Bucket
2554,118307,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:24:57,65,30,2019-07-27 00:24:57,Sat,2.0,0.0,2.0,Weekend,Late Night
2592,118308,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:38:57,65,30,2019-07-27 00:38:57,Sat,0.0,0.0,0.0,Weekend,Late Night
2636,118309,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:52:57,65,30,2019-07-27 00:52:57,Sat,0.0,0.0,0.0,Weekend,Late Night
2640,118310,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:56:25,4043,3513,2019-07-27 00:56:25,Sat,3978.0,3483.0,7461.0,Weekend,Late Night
4489,118311,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 01:06:57,65,30,2019-07-27 01:06:57,Sat,3978.0,3483.0,7461.0,Weekend,Late Night

In [39]:
dfc_grouped = df_turns.groupby(['DATE', 'STATION', 'Weekday'])['Entry_Diff', 'Exit_Diff', 'Total_Traffic'].sum().reset_index()

<ipython-input-39-41ea38c374a6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dfc_grouped = df_turns.groupby(['DATE', 'STATION', 'Weekday'])['Entry_Diff', 'Exit_Diff', 'Total_Traffic'].sum().reset_index()

In [40]:
#The upper_quant_df outputs a dataframe of the upper 95% values for each station
upper_quant_df = dfc_grouped.groupby(['STATION'])['Total_Traffic'].quantile([.95]).reset_index()
#Then I merge it with the grouped data 
df_turns_no_outlier = dfc_grouped.merge(upper_quant_df, on='STATION')
df_turns_no_outlier.head()

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y
0,2019-07-27,1 AV,Sat,4308.0,5146.0,9454.0,0.95,40228.0
1,2019-07-28,1 AV,Sun,4106.0,5309.0,9415.0,0.95,40228.0
2,2019-07-29,1 AV,Mon,14483.0,16525.0,31008.0,0.95,40228.0
3,2019-07-30,1 AV,Tue,16375.0,18206.0,34581.0,0.95,40228.0
4,2019-07-31,1 AV,Wed,16812.0,19777.0,36589.0,0.95,40228.0

In [41]:
#delete the rows where The difference between Total_Traffic_y and Total_Traffic_x < 0
df_turns_no_outlier['Diff'] = df_turns_no_outlier['Total_Traffic_y'] - df_turns_no_outlier['Total_Traffic_x']
df_turns_no_outlier = df_turns_no_outlier[df_turns_no_outlier['Diff']>= 0]

In [42]:
df_turns_no_outlier.sample(50)

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y,Diff
19788,2019-08-16,PATH WTC 2,Fri,2712.0,11239.0,13951.0,0.95,17942.2,3991.2
3164,2019-08-10,25 AV,Sat,2999.0,789.0,3788.0,0.95,6820.7,3032.7
22100,2019-07-28,TOMPKINSVILLE,Sun,312.0,0.0,312.0,0.95,834.4,522.4
22075,2019-09-04,TIMES SQ-42 ST,Wed,101368.0,94389.0,195757.0,0.95,209555.5,13798.5
17222,2019-08-29,LONGWOOD AV,Thu,3134.0,3172.0,6306.0,0.95,7123.7,817.7
10857,2019-08-24,CANAL ST,Sat,49195.0,40024.0,89219.0,0.95,153639.1,64420.1
3700,2019-09-11,33 ST-RAWSON ST,Wed,14158.0,11500.0,25658.0,0.95,26312.1,654.1
2026,2019-08-06,18 ST,Tue,8496.0,5135.0,13631.0,0.95,15896.1,2265.1
5352,2019-07-27,59 ST,Sat,29981.0,26682.0,56663.0,0.95,127916.2,71253.2
23080,2019-09-01,WHITEHALL S-FRY,Sun,30.0,24.0,54.0,0.95,39472.1,39418.1
20156,2019-08-06,PRINCE ST,Tue,12236.0,11793.0,24029.0,0.95,27199.9,3170.9
5623,2019-08-15,63 DR-REGO PARK,Thu,15054.0,5740.0,20794.0,0.95,22976.8,2182.8
20306,2019-08-30,PROSPECT PARK,Fri,10526.0,9521.0,20047.0,0.95,22170.8,2123.8
14304,2019-08-06,GRAHAM AV,Tue,8778.0,5388.0,14166.0,0.95,16337.4,2171.4
14698,2019-08-22,GREENPOINT AV,Thu,9832.0,7710.0,17542.0,0.95,19724.6,2182.6
8534,2019-08-31,BAY 50 ST,Sat,1605.0,268.0,1873.0,0.95,3832.9,1959.9
7121,2019-08-04,9 AV,Sun,3097.0,4189.0,7286.0,0.95,11928.3,4642.3
9655,2019-08-18,BEVERLY RD,Sun,1858.0,542.0,2400.0,0.95,5592.3,3192.3
19182,2019-09-05,NORWOOD AV,Thu,3319.0,3703.0,7022.0,0.95,7301.4,279.4
17798,2019-09-07,MORISN AV/SNDVW,Sat,3445.0,3362.0,6807.0,0.95,13047.3,6240.3
1903,2019-08-09,176 ST,Fri,5056.0,3135.0,8191.0,0.95,9711.8,1520.8
21067,2019-09-04,SENECA AVE,Wed,3479.0,3490.0,6969.0,0.95,7574.4,605.4
16964,2019-08-23,LEXINGTON AV/53,Fri,39670.0,39258.0,78928.0,0.95,95304.4,16376.4
9634,2019-07-28,BEVERLY RD,Sun,0.0,9.0,9.0,0.95,5592.3,5583.3
19618,2019-09-04,PARKSIDE AV,Wed,6349.0,4423.0,10772.0,0.95,11617.7,845.7
3892,2019-09-14,34 ST-PENN STA,Sat,88704.0,86973.0,175677.0,0.95,338810.8,163133.8
1339,2019-08-12,161/YANKEE STAD,Mon,28859.0,25400.0,54259.0,0.95,74545.3,20286.3
9969,2019-08-17,BOWLING GREEN,Sat,14971.0,16227.0,31198.0,0.95,62810.3,31612.3
11201,2019-09-22,CENTRAL AV,Sun,3750.0,3465.0,7215.0,0.95,10445.4,3230.4
21897,2019-09-15,SUTTER AV,Sun,1173.0,1235.0,2408.0,0.95,6568.4,4160.4
3945,2019-09-04,36 AV,Wed,6203.0,6595.0,12798.0,0.95,14610.2,1812.2
17525,2019-08-17,METS-WILLETS PT,Sat,3472.0,2924.0,6396.0,0.95,59616.5,53220.5
14230,2019-09-27,FULTON ST,Fri,101800.0,90237.0,192037.0,0.95,507437.0,315400.0
2192,2019-09-15,182-183 STS,Sun,2467.0,816.0,3283.0,0.95,6971.8,3688.8
10770,2019-07-31,BUSHWICK AV,Wed,1802.0,1377.0,3179.0,0.95,3938.7,759.7
23710,2019-09-07,NEW UTRECHT AV,Sat,2645.0,1959.0,4604.0,0.95,9744.0,5140.0
2354,2019-08-19,191 ST,Mon,6029.0,5923.0,11952.0,0.95,17446.3,5494.3
4437,2019-08-23,46 ST,Fri,7642.0,6172.0,13814.0,0.95,16962.3,3148.3
10072,2019-09-26,BRIARWOOD,Thu,5402.0,2778.0,8180.0,0.95,8295.1,115.1
13789,2019-09-27,FOREST AVE,Fri,4851.0,3469.0,8320.0,0.95,8481.0,161.0
12248,2019-08-29,CRESCENT ST,Thu,4341.0,4677.0,9018.0,0.95,10368.4,1350.4
21435,2019-08-25,SPRING ST,Sun,14584.0,9168.0,23752.0,0.95,44548.6,20796.6
2561,2019-09-06,207 ST,Fri,6291.0,3133.0,9424.0,0.95,9887.6,463.6
7797,2019-09-19,ASTORIA DITMARS,Thu,20363.0,17482.0,37845.0,0.95,38125.4,280.4
18878,2019-09-16,NEWARK HW BMEBE,Mon,6421.0,7347.0,13768.0,0.95,15567.7,1799.7
6844,2019-09-11,82 ST-JACKSON H,Wed,16636.0,19621.0,36257.0,0.95,36531.0,274.0
14176,2019-08-04,FULTON ST,Sun,35352.0,30398.0,65750.0,0.95,507437.0,441687.0
14839,2019-09-06,GUN HILL RD,Fri,12372.0,10682.0,23054.0,0.95,23584.8,530.8
6468,2019-09-13,77 ST,Fri,33159.0,28630.0,61789.0,0.95,65100.4,3311.4
23557,2019-08-05,YORK ST,Mon,12648.0,6440.0,19088.0,0.95,21288.8,2200.8

# End of group data cleaning

The data should now have outliers removed and can be aggregated as necessary for analysis. The last cell with save a pickled dataframe for easy import into other notebooks.

In [43]:
df_turns_no_outlier.to_pickle('Cleaned_Working_Dataframe.pkl')